<label for="">Server Name</label>
<!-- <input
type='text'
class='form-control'
(input)='onUpdateServerName($event)'
> -->
<input
type='text'
class='form-control'
[(ngModel)]='serverNameTwoWay'
>
  <button class='btn btn-primary' [disabled]='!allowAddServer' (click)="onCreateServer()">Add Server</button>
  <p *ngIf="serverName; else noServer">{{serverNameTwoWay}}</p>
  <button (click)="toggleP()">Toggle Paragraph</button>
  <p *ngIf='seeMe'>You can see me!</p>
  <p *ngFor='let item of array; let i = index' [ngClass]='{balls: i >= 4 ? true : false}'>{{item}}</p>
<ng-template #noServer><p>No server!</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>

